name: Hourly R Script

on:
  schedule:
    - cron: "*/30 * * * *"  # Runs every 30 minutes
  workflow_dispatch:  # Allows manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
      
      - name: Install R packages
        run: |
          install.packages(c("httr", "jsonlite", "dplyr", "janitor", "purrr", "lubridate", "stringr", "telegram.bot"))
        shell: Rscript {0}
      
      - name: Run R script
        env:
          API_URL: ${{ secrets.API_URL }}
          API_USER: ${{ secrets.HEALTH_SMART_CONNECT_USER_NAME }}
          API_PASS: ${{ secrets.HEALTH_SMART_CONNECT_PASSWORD }}
        run: Rscript function_data_queue_alert_wetlands_ranger_data_newer.R
